@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="accessory__list">

    <a class="accessory__a" asp-page="Accessories" asp-route-id="1">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://megabyte48.ru/components/com_jshopping/files/img_products/full_01213.jpg" />
                </div>

                <span class="accessory__info-text">Процессор</span>
            </div>
        </div>
    </a>
    
    <a class="accessory__a" asp-page="Accessories" asp-route-id="2">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://im0-tub-ru.yandex.net/i?id=65709f7a32991f306e4b731a75334c87&n=13&exp=1" />
                </div>

                <span class="accessory__info-text">Материнская плата</span>
            </div>
        </div>
    </a>

    <a class="accessory__a" asp-page="Accessories" asp-route-id="3">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://www.hardwareluxx.de/images/cdn01/D8994F4DCB8C497B8FBA66D557630A4E/img/4FE7CF5F634E49CE82365DA3A740CFEB/ASRock-Radeon-RX5700XT-Taichi-X-00002_4FE7CF5F634E49CE82365DA3A740CFEB.jpg" />
                </div>

                <span class="accessory__info-text">Видеокарта</span>
            </div>
        </div>
    </a>

    <a class="accessory__a" asp-page="Accessories" asp-route-id="4">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st4/fit_width/120/120/b7ff8f5c11792f0b240a4ae96fb754ae/14d47ba6e8fc8e32eb1a1f0581328ba668aa4f5511f60b8c3ac33b85800465b5.jpg" />
                </div>

                <span class="accessory__info-text">Оперативная память</span>
            </div>
        </div>
    </a>
    

    <a class="accessory__a" asp-page="Accessories" asp-route-id="5">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/de45ae9bb1563e50d2318c545d6b0cde/14ae7df68851ca73bea9f7c21de31ad358f5535be521d7fd5088b3ac9f05dfc7.jpg" />
                </div>

                <span class="accessory__info-text">Блок питания</span>
            </div>
        </div>
    </a>
    

    <a class="accessory__a" asp-page="Accessories" asp-route-id="6">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/a439925bce69612d34f3b6a8ee73280b/d72973c8e745e019bc76b543465dec0c3a3e85f347803ed76aeabe421048aba6.jpg" />
                </div>

                <span class="accessory__info-text">Корпус</span>
            </div>
        </div>
    </a>
    

    <a class="accessory__a" asp-page="Accessories" asp-route-id="7">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/5e1cae04ce6b063e660e867df9cd3b65/d960dbcca38483538ab50e287eafec252175ee4d8c48233d7b70e4ae1f342ed7.jpg" />
                </div>

                <span class="accessory__info-text">Жесткий диск</span>
            </div>
        </div>
    </a>
    

    <a class="accessory__a" asp-page="Accessories" asp-route-id="8">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/de8a6a99c78673c73eaafcbed2fe6525/991d445ab87d7e74a048f7245ecebd1e48e531a99120dd521cc6185924e95f76.jpg" />
                </div>

                <span class="accessory__info-text">SSD M2</span>
            </div>
        </div>
    </a>
    
    <a class="accessory__a" asp-page="Accessories" asp-route-id="9">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/3e0d01898a1c666c51f7118c1c674048/f142cbf14e9392739fe15540a6c6a7821f4343add7bcc30bf960998b3eeeaeee.jpg" />
                </div>

                <span class="accessory__info-text">SSD SATA</span>
            </div>
        </div>
    </a>
    
    <a class="accessory__a" asp-page="Accessories" asp-route-id="10">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/b139e91d6a02828a0366e0947e1f49b8/bb76483ded9ac47682805ad1cb8079268dfbe5c8ca6e91b1887a806f87659ec7.jpg" />
                </div>

                <span class="accessory__info-text">Вентилятор</span>
            </div>
        </div>
    </a>
    
    <a class="accessory__a" asp-page="Accessories" asp-route-id="11">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st4/fit_width/120/120/ebae44c0c4c43bc6ee93214119cca296/2ce73501c5bfcc55302a39a08a82081fea6494483e233f807efc3af9625114ad.png" />
                </div>

                <span class="accessory__info-text">Куллер</span>
            </div>
        </div>
    </a>
    

    <a class="accessory__a" asp-page="Accessories" asp-route-id="12">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st4/fit_width/120/120/f5333460980a715053765d9928957d8f/59cf2de1dc403c079028cc0b48b0922ef09148afd9f07387626cc144f2100845.jpg" />
                </div>

                <span class="accessory__info-text">Жидкостное охлаждение</span>
            </div>
        </div>
    </a>
    
    <a class="accessory__a" asp-page="Accessories" asp-route-id="13">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/a5d12a9ed01a46850b90d5ee74bb7828/89635a510a26da3b4f8704152bf87a16dcbc40c74820b2e7c9975b4dc33a4318.jpg" />
                </div>

                <span class="accessory__info-text">Звуковая карта</span>
            </div>
        </div>
    </a>
    
    <a class="accessory__a" asp-page="Accessories" asp-route-id="14">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st1/fit_width/120/120/96590380ef84344ab00725fe7713e23f/8a27da9e33f9946e3aeabf96baae8da40864d860fd8c0e75fa45eefd0bdd055b.jpg" />
                </div>

                <span class="accessory__info-text">Оптический привод</span>
            </div>
        </div>
    </a>
    
    <a class="accessory__a" asp-page="Accessories" asp-route-id="15">
        <div class="accessory__component">
            <div class="accessory__info-block">
                <div class="accessory__div-img">
                    <img class="accessory__img" src="https://c.dns-shop.ru/thumb/st4/fit_width/120/120/d50b0fa573b6dffeab6498acc8cef2f9/0378eba463e47a70d7f27214cdc975825584c68e40ece5ca3ec8355034d0e445.jpg" />
                </div>

                <span class="accessory__info-text">Плата видеозахвата</span>
            </div>
        </div>
    </a>
    
</div>
